/*Подсказки 

font-family: 'Exo', sans-serif;
font-family: 'Lato', sans-serif;

*/

/*...........Общие настройки.............*/


body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
  height: 100%;
  width: 95%;
}

.btn {
	background-color: #ff6d6d;
	text-decoration: none;
	color: #fff;
	display: block;
	text-align: center;
}

/*...........Настройки HEADER.............*/

.header_content {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

header {
	background-image: url("../img/bg-header.png");
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	height: 100vh;
}

h1 {
	margin: 0;
	font-size: 60px;
	line-height: 75px;
	font-family: 'Exo', sans-serif;
	font-weight: 100;
}

.play_btn {
	opacity: 0.6;
	margin-top: 40px;
	margin-bottom: 40px;
	cursor: pointer;
}

.btn_header{
	width: 190px;
	margin: 0 auto;
	padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

.btn:hover {
	background-color: #FF0033;
}

.header_remark { 
	font-size: 14px;
	font-weight: 400;
	opacity: 0.6;
	margin-top: 19px;
}

/*...........Настройки sect2_design.............*/

.sect2_design {
	background-image: url("../img/bg-sect2.png");
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 170px;
	padding-bottom: 140px;
	margin-bottom: 0;
}

.design_content {
	max-width: 570px;
}

.sect_name {
	text-transform: uppercase;
	color: #ff6d6d;
	font-size: 16px;
	font-weight: 500;
}

.sect_promo {
	font-size: 40px;
	line-height: 50px;
	margin-top: 15px;
	font-weight: 500;
}

.red_text {
	color: #ff6d6d;
}

.sect_content {
	color: #282828;
	opacity: 0.66;
}

/*...........Настройки sect3_features.............*/

.sect3_features {
	background-image: url("../img/bg-sect3.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 180px;
}

.features_content{
	text-align: center;
}

.features_items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 90px;
}

.feature_item {
	width: 360px;
	padding-left: 10px;
	padding-right: 10px; 
}

.sect3_pic {
	width: 65px;
	height: 65px;
}

.feature_item_name {
	font-size: 22px;
	margin: 18px 0;
	color: #282828;
}

.feature_item_content {
	color: #282828;
	opacity: 0.66;
}

/*...........Настройки sect4_description.............*/

.sect4_description {
	background-image: url("../img/sects_bg.png");
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 90px;
}

.macbook_pic {
  width: 630px;
  height: 367px;
  margin-right: 80px;
}

.sect4_content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*...........Настройки sect5_clients.............*/

.sect5_clients {
	background-image: url("../img/bg-sect5.png");
	background-repeat: no-repeat;	
	background-size: cover;
	padding-top: 110px;
	padding-bottom: 80px;
}

.clients_items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 70px;
}

.clients_item {
	max-width: 360px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.client_name {
	font-size: 22px;
	color: #fff;
	opacity: 0.8;
} 

.client_post {
	color: #ff6d6d;
}

.client_comment {
	font-style: italic;
	font-weight: 400;
	color: #ffffff;
	opacity: 0.66;
}

.partners_logos {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*...........Настройки sect6_features.............*/

.sect6_features {
	background-color: #f6f5f3;
	padding-top: 100px;
}

.browser_pic {
	position: relative;
	bottom: -8px;
}

.sect_info {
	max-width: 670px;
	margin: 0 auto;
	padding: 10px 0 100px;
}

/*...........Настройки sect7_form.............*/

.sect7_form {
	background-color: #323969;
	padding-top: 100px;
	padding-bottom: 80px;	
}

.form_content{
	text-align: center;
}

.form_promo {
	font-size: 40px;
	color: #fff;
	margin-bottom: 100px;
}

.form_group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.sect7_form input {
	width: 260px;
	height: 50px;
	border-radius: 3px;
}

.btn_form {
	display: inline;
	border: none;
} 

.form_inputs {
	background-color: #464c77;
	border: 1px solid #999cb4;
	padding-left: 30px;
}

.sect7_form input::placeholder {
	color: #f6f5f3;
	font-weight: 400;
}

.form_inputs:focus {
	color: #f6f5f3;
	font-weight: 400;
	background-color: #9ba1cc;
}

.form_inputs:valid {
	color: #f6f5f3;
	font-weight: 400;
}


.arrow {
	position: absolute;
	top: -50px;
	right: 200px;
}

.tooltip {
	position: absolute;
	top: -70px;
	right: 40px;
	font-weight: 400;
	color: #f6f5f3;
}

.terms {
	font-weight: 400;
	color: #f6f5f3;
	opacity: 0.6;
	text-align: center;
	margin-top: 50px;
}

.terms a {
	color: #f6f5f3;
	opacity: 0.6;
}

/*...........Настройки footer.............*/

.footer {
	background-image: url("../img/footer-bg.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
}

.footer_cols {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.footer_info h2 {
	position: relative;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: #2c2f49;
}

.footer_logo {
	position: absolute;
	top: -8px;
	left: 60px;
}

.footer_contacts {
	font-size: 14px;
	color: #282828;
	opacity: 0.56;
	margin-top: 29px;
}

.footer_info {
	max-width: 250px;
}

.footer_menu {
	min-width: 100px;
}

.footer_menu_items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_menu_item {
	text-decoration: none;
	color: #282828;
	opacity: 0.66;
	font-size: 14px;
	line-height: 30px;
}

.footer_menu_item:hover {
	opacity: 1;
}

.main_item {
	font-size: 22px;
	opacity: 1;
	display: block;
	margin-bottom: 25px;
}

.news_sender {
	margin: 0;
	padding: 0;
	font-size: 22px;
	color: #282828;
	margin-bottom: 25px;
}

.socials input[type="email"] {
    width: 265px;
    height: 50px;
    padding-left: 30px;
    background-color: #f6f6f6;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.socials input[type="email"]::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.socials input[type="email"]:focus {
	outline: none;
	border-color: #000;
}

.socials {
	min-width: 265px;
	position: relative;
}

.social_icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;	
}

.social_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 25px;
}

.btn_sender {
	height: 50px;
	width: 50px;
	border: none;
	position: absolute;
	right: 0;
	top: 50px;
	border-radius: 3px;
	background-image: url("../img/letter.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
}

.si_db {
	background-image: url("../img/dribbble.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.si_fb {
	background-image: url("../img/facebook.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.si_gp {
	background-image: url("../img/googleplus.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.si_tw {
	background-image: url("../img/twitter.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.empty {
	width: 50px;
}